<!DOCTYPE html>
<html lang="en">
<head>
  <title>Yatta Teriyaki</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        <h1 class="text-center"> Edit Menu Item </h1>
        <hr></hr>

        <form role="form" action="{{url_for('editMenuItem', category=category, item_id=item.id)}}" method='POST'>
            <div class="form-group">
                <label for="name">Name:</label>
                    <input type='text' class="form-control" size='30' name='name' placeholder='{{item.name}}'>
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
                    <textarea name='description' class="form-control" row='5' color='40' placeholder='{{item.description}}'></textarea>
            </div>

            <div class="form-group">
                <label for="name">Price</label>
                    <input type= 'text' class="form-control" size='8' name='price' placeholder='{{item.price}}'>
            </div>

            <div clas="form-group">
                <lable for="Course"><b>Course:</b></label>
                {% if item.category == 'Appetizer' %}
                <div class="radio form-control">
                    <label><input type='radio' name='category' value='Appetizer' checked />Appetizer</label>
                </div>
                {% else %}
                <div class="radio form-control">
                    <label><input type='radio' name='category' value='Appetizer'>Appetizer</label>
                </div>
                {% endif %}

                {% if item.category == 'Entree' %}
                <div class="radio form-control">
                    <label><input type='radio' name='category' value='Entree' checked />Entree</label>
                </div>
                {% else %}
                <div class="radio form-control">
                    <label><input type='radio' name='category' value='Entree'>Entree</label>
                </div>
                {% endif %}

                {% if item.category == 'Dessert' %}
                <div class="radio form-control">
                    <label><input type='radio' name='category'value='Dessert' checked />Dessert</label>
                </div>
                {% else %}
                <div class="radio form-control">
                    <label><input type='radio' name='category' value='Dessert'>Dessert</label>
                </div>
                {% endif %}

                {% if item.category == 'Beverage' %}
                <div class="radio form-control">
                    <label><input type='radio' name='category'value='Beverage' checked />Beverage</label>
                </div>
                {% else %}
                <div class="radio form-control">
                    <label><input type='radio' name='category' value='Beverage'>Beverage</label>
                </div>
                {% endif %}
            </div>
            <hr/>
            <div class="form-group">
                <input type='submit' class="btn btn-success btn-lg btn-block", value='Save'>
            </div>

            <a href="{{url_for('menu')}}"><button type="button" class="btn btn-default btn-lg btn-block">Cancel</button></a>
        </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</body>
</html>
